body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color: rgb(0, 165, 165);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navbar li:hover {
  background-color: rgb(98, 122, 196);
}

.navbar a.active {
  background-color: rgb(70, 87, 139);
}

.navbar li a {
  align-items: center;
  font-size: x-large;
}

.navbar .search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.navbar .searchInputs {
  margin-top: 10px;
  display: flex;
}

.navbar .searchIcon {
  height: 30px;
  width: 30px;
  background-color: white;
  display: grid;
  place-items: center;
}

.navbar input:focus {
  outline: none;
}

.navbar .searchIcon svg {
  font-size: 15px;
  color: black;
}

.navbar .dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.navbar .dataresult::-webkit-scrollbar {
  display: none;
}

.navbar .dataResult .dataItem {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.navbar .dataItem p {
  margin-left: 10px;
}

.navbar .search a {
  text-decoration: none;
}

.navbar .search a:hover {
  background-color: lightgray;
}

#clearBtn {
  cursor: pointer;
}
